<!--<h2>Forgot your password?</h2>-->

<%#= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= f.submit "Send me reset password instructions" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>


<div class="flex flex-col w-full items-center justify-center bg-base-200 border-base-300 rounded-box border p-4">
  <div class="max-w-md w-full h-full bg-white rounded-2xl shadow-xl overflow-hidden">
    <div class="bg-gradient-to-r from-accent-content/30 to-accent py-8 px-6 rounded-box text-center">
      <h2 class="text-3xl font-bold text-white mb-2">Welcome to Osud_Mama</h2>
      <p class="text-xl text-blue-100 opacity-90">Forgot your password?</p>
    </div>

    <div class="px-8 py-8">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

<!--        Email field-->
        <div class="space-y-2">
          <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1 relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <i class="fa-solid fa-envelope text-accent"></i>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",
                              class: "focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 pr-3 py-3 border-gray-300 rounded-md text-gray-700",
                              placeholder: "your.email@example.com" %>
          </div>
        </div>
<!--        Submit Button-->
        <div>
          <%= f.submit "Send me reset password instructions",
                       class: "w-full flex justify-center py-3 px-4 mt-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gradient-to-r from-accent-content/20 to-accent text-center hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-colors cursor-pointer" %>
        </div>
      <% end %>
    </div>
    <div class="flex justify-around items-center px-10 py-2 mb-2">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>